/*----------- Global settings ------------*/


/*----------- Headers --------------------*/
h1, h2 {
    font-family: 'Schoolbell', cursive;
}

h1 {
    font-size: 3rem;
    color: rgb(52, 204, 153);
}

h2 {
    font-size: 2rem;
}


.page-header {
    margin-top: 6%;
    color: rgb(52, 204, 153);
}


/*------------ Navigation ----------------*/
.navbar .navbar-brand {
    color: rgb(30, 176, 127);
}

.navbar .navbar-brand:hover {
    color: rgb(130, 234, 199);
}

.nav-log, nav a {
    font-family: 'Schoolbell', cursive;
    font-size: 2rem;
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(130, 234, 199);
    transform: translateY(5px);
}

/*----------- Page Nav ----------------*/
.page-link {
    color: rgb(30, 176, 127);
    border-radius: 20px;
}

.page-link:hover {
    color: rgb(130, 234, 199);
    background-color: rgb(30, 176, 127);
}

/* .active {
    color: black;
} */


/*----------- Index page --------------*/
.submitBtn {
    color: rgb(30, 176, 127);
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: -5px 5px rgb(80, 78, 78);
}

.submitBtn:hover {
    color: rgb(130, 234, 199);
    background-color: rgb(30, 176, 127);
    transform: translateY(-5px);
}


/*----------- Appointments page ------*/
.appointment-card {
    background-color: rgb(239, 245, 244);
    border-radius: 10px;
    border: solid 2px;
    border-color: rgb(130, 234, 199);
    padding: 1rem;
    margin: 1rem;
}

#appointment-comment {
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
}