{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <!-- Error image (aligned right) -->
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://res.cloudinary.com/nickdevc/image/upload/v1677330066/media/error_vcfcro.png" 
                class="d-block mx-lg-auto img-fluid hero-image" alt="Building a website image" width="700"
                height="500" loading="lazy">
        </div>
        <!-- Error text (aligned left) -->
        <div class="col-lg-6">
            <h1 class="display-5">500 Server Error</h1>
            <p class="lead">The page you are trying to view is experiencing a problem. Please
                try to reload the page or return back to the homepage.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <a href="{% url 'index' %}" class="btn btn-signup btn-lg submitBtn">Return</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}