{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Appointments Column -->
        <div class="row m-2 row d-flex justify-content-center">
            <div class="col-sm-8">
                <h4 class="mb-4 text-center cake-menu-header ">"Appointments"</h4>
                <!-- Loop through list to display each appointment -->
        
                <!-- {% if appointment_items.choclate_items %}
        
                {% for cakeitems in cake_items.choclate_items %}
        
                <h4>{{ cakeitems.cake_name}}</h4>
        
                <p>{{ cakeitems.description }}</p>
        
                <p>Dietary |<strong>{{ cakeitems.dietary }}</strong></p>
        
                <p>Allergens | <strong>{{ cakeitems.allergens}}</strong></p>
                <hr>
                {% endfor%}
        
                {% else %}
                <p>Menu being updated. No items found</p>
        
                {% endif %} -->
        
            </div>
        </div>
        
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}