{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header -->
<div class="col-12 text-center mt-3 mb-3">
    <h1 class="text-center page-header">Upload a resource:</h1>
</div>

<!-- Container and form -->
<div class="container-fluid">
    <div class="row">
        <div class="row m-2 row d-flex justify-content-center">
            <div class="col-md-6 mb-4 text-center appointment-card content-card">
                <!-- Form for uploading a resource to resources.html -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-signup btn-lg submitBtn">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}