{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="row m-2 row d-flex justify-content-center">
            <div class="mb-4 text-center">
                <h1 class="mb-4 text-center">Upload a resource:</h1>
                <!-- Form for uploading a resource to resources.html -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-signup btn-lg submitBtn">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}