{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header -->
<div class="col-12 text-center mt-3 mb-3">
    <h1 class="text-center page-header">Edit Appointment</h1>
</div>

<!-- Container and form -->
<div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="row m-2 row d-flex justify-content-center">
            <div class="col-md-6 mb-4 text-center appointment-card content-card">
                <!-- Form for editing the appointment model -->
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-signup btn-lg submitBtn">Update appointment</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}