{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Hero container -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <!-- Hero image (aligned right) -->
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://res.cloudinary.com/nickdevc/image/upload/v1677073708/media/communication_nle8ql.png"
                class="d-block mx-lg-auto img-fluid hero-image" alt="Communicating learning cartoon" width="700"
                height="500" loading="lazy">
        </div>
        <!-- Hero text (aligned left) -->
        <div class="col-lg-6">
            <h1 class="display-5">Welcome to The Learning Hub!</h1>
            <p class="lead">Here we hope to grow parent-teacher connections by allowing swift,
                hassel-free communication via our appointment booking system. You will also find our extensive
                resource library will support you and your child by providing resources that have been 'hand-picked'
                by your child's school.
            </p>
            <p class="lead"><i class="fa-solid fa-arrow-down"></i> Scroll down to book an appointment with a teacher <i
                    class="fa-solid fa-arrow-down"></i></p>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <a href="{% url 'resources' %}" class="btn btn-signup btn-lg submitBtn">In need of resources?</a>
            </div>
        </div>
    </div>
</div>
<hr class="line-break">
<!-- User appointment container and form -->
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-lg-5 col-md-9 col-11 text-center">
            <h1>
                Book an appointment
            </h1>
            <h2>Use the form below to book an appointment with your child's teacher</h2>
            <div class="appointmentcard">
                <form method="post" id="appointmentForm">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg submitBtn">Submit &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}