{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://res.cloudinary.com/nickdevc/image/upload/v1677073708/media/communication_nle8ql.png" 
                class="d-block mx-lg-auto img-fluid hero-image" alt="Communicating learning cartoon" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to The Learning Hub!</h1>
            <p class="lead">Here we hope to grow parent-teacher connections by allowing swift,
                hassel-free communication and an online library full of resources for you to use
                at home.<br>To book an appointment fill in the form below<i class="fa-solid fa-arrow-down"></i></p>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5 col-lg-5 col-md-9 col-11 text-center">
            <h1>
                Book an appointment
            </h1>
            <h2>Use the form below to book an appointment with your child's teacher</h2>
            <div class="appointmentcard">
                <form method="post" id="appointmentForm">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg submitBtn">Submit &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}