{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://res.cloudinary.com/nickdevc/image/upload/v1677073708/media/resources_d4da1d.png" 
                class="d-block mx-lg-auto img-fluid hero-image" alt="Children learning cartoon" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5">The Resource Library</h1>
            <p class="lead">Here you will find a range of resources that have been selected to match your
                child's study within the classroom. Teachers will regularly update the library with new
                exciting resources for you to use at home to reinforce learning and boost confidence.
            </p>
        </div>
    </div>
</div>
<hr class="line-break">
<div class="col-12 text-center mt-3 mb-3">
    <h1 class="mb-4 text-center page-header">Current Resources</h1>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for resource in resource_items %}
        <div class="col-lg-2 col-md-3 col-sm-4 appointment-card">
            <h3 class="resource-name">{{ resource.resource_name }}</h3>

            <h4 class="resource-subject">Subject: <strong>{{ resource.get_subject_display }}</strong></h4>

            <p class="resource-description">{{ resource.description }}</p>
            <div class="d-grid gap-2 col-4 mx-auto">
                <a href="{{ resource.file.url }}" target="_blank" class="resource-link btn btn-signup btn-sm submitBtn">Download</a>
            </div>
        </div>
        {% endfor%}
    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>

{% endblock %}